@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px; /* по умолчанию */
}

body {
  line-height: 1;
  /* color: #000; */
  /* font-family:""; */
  font-family: "Roboto", sans-serif;
  background-color: #333;
}

.wrapper {
  min-height: 100%;
  padding: 30px;
  overflow: hidden;
}

/* ------------------------------ */
main {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.block__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333333%;
          flex: 0 1 33.333333%;
  padding: 0 15px;
  min-width: 270px;
}
.block__card {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block__href {
  position: relative;
  padding: 0 0 74.2857142857% 0;
}
.block__img {
  border-radius: 6px 6px 0 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content {
  padding: 29px 30px;
}
.content__target {
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;
  color: #D9D9D9;
  margin-bottom: 7px;
}
.content__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: #85878C;
  margin-bottom: 20px;
}
.content__text2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: #85878C;
  margin-bottom: 20px;
}

.content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-footer__rating {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.content-footer__link {
  padding: 0px 32px;
  background: #34C759;
  font-weight: 900;
  font-size: 10px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
  border-radius: 25px;
}